<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar Carros</title>
</head>
<body>
<button class="botao_lista" (click)="findAllCarros()"> Listar Todos os Carros</button>
<div *ngIf="mostrar">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Descrição</th>
      <th>Update/Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listaCarros">
      <td>{{ item.id}}</td>
      <td>{{ item.nome}}</td>
      <td>{{ item.tipo}}</td>
      <td>{{ item.descricao }}</td>
      <td>
        <button (click)="updateCarro()" class="botao-editar">
          <img src="./assets/icone-editar.png" alt="Botão editar"></button>
        <button (click)="deleteCarro(item)" class="botao-excluir">
          <img src="./assets/icone-excluir.png" alt="botão excluir"></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="overlay"></div>

</body>
</html>
