<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carros API</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<h1>Carros API</h1>

<button onclick="findAllCarros()">Listar Todos os Carros</button>

<div id="carrosList"></div>

<script>
  function findAllCarros() {
    $.post('/api/v1/carros/findAll', function(data) {
      var carrosList = $('#carrosList');
      carrosList.empty();

      if (data.length === 0) {
        carrosList.append('<p>Nenhum carro encontrado.</p>');
      } else {
        var ul = $('<ul>');
        data.forEach(function (carro) {
          ul.append('<li>' + carro.nome + ' - ' + carro.tipo + '</li>');
        });
        carrosList.append(ul);
      }
    }).fail(function() {
      alert('Erro ao obter a lista de carros');
    });
  }
</script>

</body>
</html>
